body{											/* Full Page Desing */
	margin: 0 !important;
    padding: 0 !important;
	background-color: #222831;
	min-height: 700px;
	min-width: 700px;
}

#header{										/* Logo Top Container */
	width: 100%;
	min-width: 700px;
	height: 50px;
	background-color: #222831;
	margin-bottom: 20px;
  	text-align: center;
  	line-height: 50px;
  	margin-top: 10px;
}

h1{												/* Logo Font Design */
  	font-family: 'Raleway', sans-serif;
  	font-size: 50px;
  	color: white;
}

#FullContainer{									/* Container for Central Module */
	height: 100%;
	width: 50%;
	min-width: 700px;
	max-height: 1500px;
	border: 1px #eeeeee solid;
	position: absolute;
	background-color: #393e46;
	left: 25%;
}

#OptionsContainer{
	height: 50px;
	/*border: 2px yellow solid;*/
	display: flex;
}

.Options{
	height: 100%;
	width: 25%;
	border:2px green solid;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
}

#IdImage{										/* Circular ID Image Container */
	width: 100%;
	height: 200px;
	/*border*/: 2px orange solid;
	text-align: center;
}

img{											/* Img Design (site wide) */
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 3px #eeeeee solid;
}

#IdentityInfoContain{
	width: 100%;
	height: 400px;
	border-top: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	text-align: center;
	margin-top: 20px;
	left: 25%;
}

.IdentityInfo{
	width: 100%;
	padding-bottom: 10px;
	height: 40px;
	/*border*/: 2px salmon solid;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: white;
}

select{
	border-radius: 10%;
	background-color: #eeeeee;
}

h2{
	font-size: 35;
	color: #00adb5;
}

#TwoSidedDivide{
	display: flex;
	height: 300px;
	width: 100%;
}

.TwoSidedInfo{
	width: 50%;
	border: 1px #eeeeee solid;
}
